{# empty Twig template #}
<div id="footer" class="container-fluid p-1 bg-secondary text-white text-center">
 <div class="copyright">
    © 2023 Company, Inc.
  </div>
  <div class="buttons">
    <a href="http://localhost:8000/" class="button home">Home</a>
    <a href="http://localhost:8000/" class="button contact">Contact us</a>
    <a href="http://localhost:8000/" class="button news">News</a>
  </div>
</div>
